{% extends 'base.html' %}

{% block page_title %}View Post - {{forum.name}}{% endblock %}
{% block page_heading%}View Post - {{forum.name}}{% endblock %}

{% block content %}
      <p class="text-center">
        <a href="{% url 'forums' %}"><button type="button" class="btn btn-danger">Back</button></a>
        {% if user.is_authenticated %}
          <a href="{% url 'edit_forum' forum.id %}"><button type="button" class="btn btn-info">Edit Post</button></a>
        {% endif %}
      </p>
      <div class="card border-primary mb-3">
        <div class="card-header">{{forum.name}}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-2 forum-summary">
              <i class="fas fa-user"></i> {{ forum.author }} <br><hr>
              <i class="fas fa-calendar-week"></i> {{forum.date}} <br><hr>
              <i class="far fa-eye"></i><span class="badge badge-primary badge-pill">{{forum.views}}</span>
              <i class="fas fa-arrow-circle-up"></i> <span class="badge badge-primary badge-pill">{{forum.upvotes}}</span>
            </div>
            <div class="row-10 forum-description">
              <p class="card-text">{{forum.description}}</p>
            </div>
          </div>
        </div>
        {% if user.is_authenticated %}
        <div class="card-footer text-muted">
          <a href="{% url 'forum_upvote' forum.id %}"><span class="upvote-btn btn btn-warning btn-sm">Upvote Post</span></a>
        </div>
        {% endif %}
    </div>
    <h3 class="HeadingContainer">Comments</h3>
    {% if user.is_authenticated %}
    <p class="text-center"><a href="{% url 'new_forumcomment' forum.id %}"><button type="button" class="btn btn-success">New Comment</button></a></p>
    {% endif %}
    {% for comment in comments %}
<div class="card border-primary mb-3">
    <div class="card-header">{{comment.author}} - {{comment.date}}</div>
    <div class="card-body">        
        <p class="card-text">{{comment.content}}</p>
    </div>
</div>
{% empty %}
<div class="alert alert-dismissible alert-info">There are no comments, Make one!</div>
{% endfor%}
{% endblock %}