{% extends 'base.html' %}

{% block page_title %}Enter New Password{% endblock %}
{% block page_heading%}Enter New Password{% endblock %}

{% block content %}
<form action="" method="POST">
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    {% csrf_token %}
    
    <div class="form-group">
        <label for="id_new_password1">New Password</label>
        <input type="password" class="form-control" id="id_new_password1" name="new_password1">
    </div>
    {{ forms.new_password1.errors }}
    <div class="form-group">
        <label for="id_new_password2">New Password</label>
        <input type="password" class="form-control" id="id_new_password2" name="new_password2">
    </div>
    {{ forms.new_password2.errors }}
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
{% endblock %}