{% load i18n %}{% autoescape off %}
{% blocktrans %}Hello There!{% endblocktrans %}

{% trans "It looks like you have requested your password to be changed. (If you haven't, please delete this email)" %}

{% trans "To start the process, please click on the below link to change your password" %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "If clicking the link doesn't work, copy and paste the URL into a new broswer window instead" %}

{% trans "Kind regards,"%}

{% blocktrans %}Tsundere Inc{% endblocktrans %}
{% endautoescape %}