{% autoescape off %}
{% blocktrans %}Hello There!{% endblocktrans %}

{% blocktrans %}It looks like you have requested your password to be changed. (If you haven't, please delete this email){% endblocktrans %}

{% blocktrans %}To start the process, please click on the below link to change your password{% endblocktrans %}

{% blocktrans %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblocktrans %}

{% blocktrans %}If clicking the link doesn't work, copy and paste the URL into a new broswer window instead{% endblocktrans %}

{% blocktrans %}Kind regards,{% endblocktrans %}

{% blocktrans %}Tsundere Inc{% endblocktrans %}
{% endautoescape %}