html, body {
    background-image: url('../img/prism.png');
}

.container {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.pageContainer {
    padding: 15px;
}

.HeadingContainer {
    text-align: center;
    padding-top: 15px;
}

.upvote-btn {
    float: right;
}

.btn-danger {
    color: white !important;
}

.footer {
    margin-top: 15px;
    padding: 15px;
    padding-bottom: 25px;
    background-color: #1a1a1a;
    color: rgba(255,255,255,0.5);
}

.copyrightContainer {
text-align: left;
}

.bottomLinksContainer {
 text-align: center;
}

.socialMediaContainer {
    text-align: right;
}

.forum-summary {
    border-right: 1px solid rgba(0,0,0,0.1);
}

.forum-description {
    padding-left: 20px;
}