{% extends 'base.html' %}

{% block page_title %}{{user}}'s Profile{% endblock %}
{% block page_heading%}{{user}}'s Profile{% endblock %}

{% block content %}
<p>First Name: {{ profile.first_name }}</p>
<p>Last Name: {{ profile.last_name }}</p>
<p>Email : {{ profile.email }}</p>
<p>Member Since : {{ profile.date_joined }}</p>
<hr>
<p>Bug Upvotes : {% if user.profile.bug_upvotes %}{{ user.profile.bug_upvotes }}{% else %}None{% endif%}</p>
<p>Feature Upvotes : {% if user.profile.feature_upvotes %}{{ user.profile.feature_upvotes }}{% else %}None{% endif%}</p>
<hr>
<p>Voting Points : {% if user.profile.points_available %}{{ user.profile.points_available }}{% else %}None{% endif%}</p>
<p>Cash Used : {% if user.profile.cash_used %}{{ user.profile.cash_used }}{% else %}None{% endif%}</p>
{% endblock %}