{% extends 'base.html' %}

{% block page_title %}{{user}}'s Profile{% endblock %}
{% block page_heading%}{{user}}'s Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <p>User Name: {{ user }}</p>
        <p>Email : {{ profile.email }}</p>
        <p>Member Since : {{ profile.date_joined }}</p>
    </div>
    <div class="col-6">
        <p>Bug Upvotes : {% if user.profile.bug_upvotes %}{{ user.profile.bug_upvotes }}{% else %}None{% endif%}<br>
        Feature Upvotes : {% if user.profile.feature_upvotes %}{{ user.profile.feature_upvotes }}{% else %}None{% endif%}<br>
        Forum Upvotes : {% if user.profile.forum_upvotes %}{{ user.profile.forum_upvotes }}{% else %}None{% endif%}</p>
        <hr>
        <p>Voting Points : {% if user.profile.points_available %}{{ user.profile.points_available }}{% else %}None{% endif%}<br>
        Cash Used : {% if user.profile.cash_used %}£{{ user.profile.cash_used }}{% else %}None{% endif%}</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 table-responsive">
        <h2 class="HeadingContainer">Bugs Created</h2>
        <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Priority</th>
                <th scope="col">Upvotes</th>
                <th scope="col">Views</th>
            </tr>
        </thead>
        <tbody>
        {% for bug in bugs %}
        <tr>
            <td>{{ bug.name }}</td>
            <td>{{ bug.status }}</td>
            <td>{{ bug.priority }}</td>
            <td>{{ bug.upvotes }}</td>
            <td>{{ bug.views }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 table-responsive">
        <h2 class="HeadingContainer">Features Created</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Upvotes</th>
                    <th scope="col">Views</th>
                </tr>
            </thead>
            <tbody>
            {% for feature in features %}
            <tr>
                <td>{{ feature.name }}</td>
                <td>{{ feature.status }}</td>
                <td>{{ feature.priority }}</td>
                <td>{{ feature.upvotes }}</td>
                <td>{{ feature.views }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 table-responsive">
        <h2 class="HeadingContainer">Forum Posts Created</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Upvotes</th>
                    <th scope="col">Views</th>
                </tr>
            </thead>
            <tbody>
            {% for forum in forums %}
            <tr>
                <td>{{ forum.name }}</td>
                <td>{{ forum.upvotes }}</td>
                <td>{{ forum.views }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
    </div>
</div>
{% endblock %}