{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %}
{% block page_heading%}Registration{% endblock %}

{% block content %}
<div class="alert alert-dismissible alert-primary">If you already have an account, you can <a href="{% url 'login' %}">sign in</a></div>

<form action="" method="POST">
    {% csrf_token %}
    {{ registration_form | as_bootstrap }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-primary" href="{% url 'index' %}">Cancel</a>
</form>
{% endblock %}