{% extends 'base.html' %}

{% block page_title %}Home Page{% endblock %}

{% block content %}
<div id="homepage" class="text-center">
<div class="jumbotron text">
    <h1 class=" display-5">Supplying All<br>Your Software Needs</h1>
    <a class="btn btn-primary btn-lg" href="{% url 'all_features' %}" role="button">Request A Feature</a>
</div>
<hr>
<h3 class="HeadingContainer">Who Are We?</h3>
<p>We are a new startup company that offers and supports the awesome UnicornAttractor web app. We are striving to be as simple as possible while providing the best of class support you need for your deployments.</p>
<div class="row">
    <div class="col-md-4"><div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Bugs Fix Tracker</h5>
          <p class="card-text">Found a problem that causing you issues? Let us know and we will fix it with our expert team</p>
          <a href="{% url 'all_bugs' %}" class="btn btn-primary">More Info</a>
        </div>
      </div></div>
    <div class="col-md-4"><div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Request New Features</h5>
          <p class="card-text">Need that little extra thing? Let us know</p>
          <a href="{% url 'all_features' %}" class="btn btn-primary">More Info</a>
        </div>
      </div></div>
    <div class="col-md-4"><div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Community Support</h5>
          <p class="card-text">We have an awesome community that can also help you solve problems too</p>
          <a href="{% url 'forums' %}" class="btn btn-primary">More Info</a>
        </div>
      </div></div>
</div>
{% if not user.is_authenticated %}
<hr>
<a class="btn btn-primary" href="{% url 'registration' %}" role="button">Register</a>
{% endif %}
</div>
{% endblock %}